.partner-block {
    width: 350px;
    height: 350px;
    background-color: #f1f1f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
    overflow: hidden;
}

.partner-block img {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.partner-block p {
    margin: 10px 0 0 0;
    font-size: 0.9em;
    color: #333;
}